*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #414141;
    color: #ffffff;
    padding: 1rem;
    font-size: 1rem;
}
p{
    margin-bottom: 1rem;
}
.columns {
    column-count: 2;
    column-width: 200px;
    column-rule: 2px solid #ffffff;
    text-align: justify;
    column-gap: 3rem;
}
.columns p{
    margin-top: 0;
}
.columns h2{
    margin-top: 0;
    padding: 1rem;
    background-color: rgb(46, 148, 159);
}

.nowrap{
    /* for citation */
    white-space: nowrap;
}