*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.body2{
    display: flex;
}
header{
    width:100%;
    font-size: 1.5rem;
    border-top: 5px solid rgb(138, 42, 42) ;
    border-bottom: 5px solid rgb(138, 42, 42) ;
    padding: 2rem;
    text-align: center;
    font-family: sans-serif;
}

nav{
    border-bottom: 5px solid rgb(138, 42, 42) ;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f8e6e6;
}
nav li{
    list-style-type: none;
    border: 1px solid #8a2a2a;
    line-height: 2em;
    margin: 1rem 1rem 1rem 0rem;
    display: inline-block;
    width: 10rem;
    text-align: center;
}
nav li a{
    width: 100%;
    display: block;
    padding: 0 1rem;
    text-decoration: none;
    border: 1rem 1rem 1rem 1rem;
    color: #8a2a2a;
}
nav li a:visited{
    color: #8a2a2a;
    background-color: #f8e6e6;
}
nav li a:hover{
    background-color: #e3aeae;
}

section{
    font-size: 1.5rem;
    width: 70%;
    padding: 2rem;
}

section h2{
    margin-bottom: 1rem;
}

section p{
    word-spacing: 0.25em;
    line-height: 1.2em;
    margin: 1rem 0;
}

section li{
    list-style-position: inside;
    padding-left: 1rem;
    line-height: 1.5em;
}
section ol{
    list-style-type: lower-alpha;
}
section a,a:visited{
    color:#8a2a2a;
}
section a:hover,a:focus{
    background-color: #e3aeae;
}
aside{
    width: 30%;
    padding-top: 2rem;
    font-size: 1.5rem;
}
aside h2{
    padding-bottom: 1rem;
}
aside ul{
    padding-left: 2rem;
    line-height: 1.5em;
    padding-bottom: 1rem;
}
aside li a{
    display: block;
    margin-right: 1rem;
}
aside a,a:visited{
    color:#8a2a2a;
}
aside a:hover,a:focus{
    background-color: #e3aeae;
}

footer{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    background-color: #e3aeae;
    padding: 1rem;
    font-weight: bold;
}